div.jumbotron {
	 background-color:#20315A;
	 color:#f8f4d4;
}

div.fl-left {
	display: inline-block;
	float: left;
	margin:0;
}

div.fl-right {
	display: inline-block;
	float: right;
	margin:0;
}

div.right-col {
	margin-left:30px;
	margin-right: 0;
	padding-right:0;
}

strong {
	line-height: 33px;
}

h3.panel-title {
	color:#f8f5e1;
}

h5 .h5 {
	margin-bottom: 5px;
}
